/*
* {
    outline: 1px solid red !important;
 }*/
.content{
    display: flex;
   
}
.title{
color: white;
background-color: mediumblue;
margin-bottom: 0px;
padding-top: 2%;
}
.image{
flex: 1;
padding-bottom: 0px;
margin-top: 2%;
}
.description{
flex: 2;
margin-top: 2%;
margin-left: 2%;
margin-right: 2%;
font-size: 125%;
color: midnightblue;

}
img{
width: 100%;
}

 
 