* {
  border: solid 1px red;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: grey;
  opacity: 0.5;
}

h2 {
  font-weight: 100;
  color: grey;
  opacity: 0.5;
}

h3 {
  color: grey;
}

#p {
  color: black;
  font-size: 15px;
}
